    .class{
            height: 10px;
            width: 10px;
        }
        .delete{
            background-image: url("delete.png");
        }
        .img1{
            background-size: 10%;
            background-repeat: repeat;
        }
        .red{
            color: red;
        }
        .blue{
            color: blue;
        }
        .com{
            background-color: rgb(12, 202, 12);
            width: fit-content;
            border-radius: 3px;
            padding: 3px 10px;
        }
        table{
            height: 400px;
            width: 600px;
            text-align: center;
        }
        img{
            border-radius: 50%;
        }
        .name{
            margin-bottom: 100%;
        }